In [35]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
pip install geopy

Collecting geopy
  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl.metadata
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Obtaining dependency information for geographiclib<3,>=1.52 from https://files.pythonhosted.org/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl.metadata
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 982.9 kB/s eta 0:00:00 0:00:01m
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 3.3 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [36]:
# Folder location string
path = r'C:\Users\nurgul\Linkedin'

In [39]:
# Importing cleaned dataset
df = pd.read_csv('jobs_posts_clean_latest1.csv', index_col=False)

In [40]:
df.head()

,job_id,company_id,title,max_salary,min_salary,work_type,location,applies,views,experience_level,listed_time,approx_salary,name,company_size,state,country,zip_code,skill_abr,salary_category,applies_category
0,3757937095,437225,Principal Cloud Security Architect (Remote),275834.0,205956.0,Full-time,United States,31.256076,96.929148,Mid-Senior level,2023-11-04 09:26:40,240895.0,"iHerb, LLC",5.0,California,US,92618,IT,high,high
1,3757935381,19181907,Insights Analyst - Auto Industry,64000.0,58000.0,Full-time,United States,17.361502,130.000000,Entry level,2023-11-04 09:26:40,61000.0,Escalent,4.0,MI,US,48152,RSCH,medium,medium
2,3757935381,19181907,Insights Analyst - Auto Industry,64000.0,58000.0,Full-time,United States,24.096085,130.000000,Entry level,2023-11-04 09:26:40,61000.0,Escalent,4.0,MI,US,48152,ANLS,medium,high
3,3757935381,19181907,Insights Analyst - Auto Industry,64000.0,58000.0,Full-time,United States,31.256076,130.000000,Entry level,2023-11-04 09:26:40,61000.0,Escalent,4.0,MI,US,48152,IT,medium,high
4,3757935001,73013724,Sales Manager,350000.0,125000.0,Full-time,"Coeur d'Alene, ID",18.329151,66.426309,Mid-Senior level,2023-11-04 06:40:00,237500.0,J. Galt,3.0,Indiana,US,46268,SALE,high,medium

In [41]:
location_counts = df['location'].value_counts()
print(location_counts)

location
United States                      1151
New York, NY                        679
Los Angeles, CA                     288
New York City Metropolitan Area     267
Seattle, WA                         256
                                   ...
Baldwinsville, NY                     1
Byron, IL                             1
El Monte, CA                          1
Alabaster, AL                         1
Rockingham, NC                        1
Name: count, Length: 1826, dtype: int64

In [42]:
df = df[df['location'] != 'United States']

In [43]:
df.shape

(13530, 20)

In [44]:
 #Finding Missing Values
df.isnull().sum()

job_id              0
company_id          0
title               0
max_salary          0
min_salary          0
work_type           0
location            0
applies             0
views               0
experience_level    0
listed_time         0
approx_salary       0
name                0
company_size        0
state               0
country             0
zip_code            7
skill_abr           0
salary_category     3
applies_category    0
dtype: int64

In [50]:
df.dropna(subset=['salary_category',''], inplace=True)

KeyError: ['']

In [51]:
 #Finding Missing Values
df.isnull().sum()

job_id              0
company_id          0
title               0
max_salary          0
min_salary          0
work_type           0
location            0
applies             0
views               0
experience_level    0
listed_time         0
approx_salary       0
name                0
company_size        0
state               0
country             0
zip_code            0
skill_abr           0
salary_category     0
applies_category    0
dtype: int64

In [52]:
# Importing cleaned dataset
df_ind = pd.read_csv('company_industries.csv', index_col=False)

In [53]:
merged_df = pd.merge(df, df_ind, on='company_id', how='inner')

In [55]:
merged_df.isnull().sum()

job_id              0
company_id          0
title               0
max_salary          0
min_salary          0
work_type           0
location            0
applies             0
views               0
experience_level    0
listed_time         0
approx_salary       0
name                0
company_size        0
state               0
country             0
zip_code            0
skill_abr           0
salary_category     0
applies_category    0
industry            0
dtype: int64

In [57]:
merged_df.head()

,job_id,company_id,title,max_salary,min_salary,work_type,location,applies,views,experience_level,...,approx_salary,name,company_size,state,country,zip_code,skill_abr,salary_category,applies_category,industry
0,3757935001,73013724,Sales Manager,350000.0,125000.0,Full-time,"Coeur d'Alene, ID",18.329151,66.426309,Mid-Senior level,...,237500.0,J. Galt,3.000000,Indiana,US,46268,SALE,high,medium,Financial Services
1,3757935001,73013724,Sales Manager,350000.0,125000.0,Full-time,"Coeur d'Alene, ID",17.496124,61.180585,Mid-Senior level,...,237500.0,J. Galt,3.000000,Indiana,US,46268,BD,high,medium,Financial Services
2,3757934347,10515052,Body Technician,30.0,20.0,Full-time,"Waukesha, WI",26.281996,80.649722,Entry level,...,25.0,Boyd Group Services Inc.,6.000000,Manitoba,CA,R3H 1A6,ENG,low,high,Motor Vehicle Manufacturing
3,3757934347,10515052,Body Technician,30.0,20.0,Full-time,"Waukesha, WI",31.256076,96.929148,Entry level,...,25.0,Boyd Group Services Inc.,6.000000,Manitoba,CA,R3H 1A6,IT,low,high,Motor Vehicle Manufacturing
4,3757934319,18391435,Controls Engineer,150000.0,121000.0,Full-time,"Orlando, FL",1.000000,5.000000,Mid-Senior level,...,135500.0,head-huntress.com,4.537178,CA,US,92025,ENG,high,low,Staffing and Recruiting

In [58]:
merged_df['industry'] = merged_df['industry'].str.replace('&', 'and', case=False)

In [60]:
industry_counts = merged_df['industry'].value_counts()
print(industry_counts)

industry
Staffing and Recruiting                6426
IT Services and IT Consulting          1079
Information Technology and Services     966
Software Development                    694
Computer Software                       684
                                       ...
Package/Freight Delivery                  1
Musicians                                 1
Sports                                    1
Civic and Social Organization             1
Photography                               1
Name: count, Length: 178, dtype: int64

In [61]:

# Assuming your dataframe is named df
unique_industries = merged_df['industry'].unique()

# Print or view the unique industries
print(unique_industries)

['Financial Services' 'Motor Vehicle Manufacturing'
 'Staffing and Recruiting' 'Retail Office Equipment'
 'Food and Beverage Manufacturing' 'Wholesale' 'Hospitals and Health Care'
 'Travel Arrangements' 'Biotechnology Research' 'Hospital and Health Care'
 'Entertainment' 'Entertainment Providers' 'Food Production'
 'IT Services and IT Consulting' 'Retail' 'Telecommunications'
 'Truck Transportation' 'Defense and Space Manufacturing' 'Law Practice'
 'Manufacturing' 'Computer Hardware Manufacturing'
 'Furniture and Home Furnishings Manufacturing'
 'Retail Apparel and Fashion' 'Construction' 'Apparel and Fashion'
 'Hospitality' 'Software Development' 'Real Estate'
 'Non-profit Organizations' 'Banking' 'Insurance' 'Mining'
 'Education Administration Programs' 'Spectator Sports'
 'Pharmaceutical Manufacturing' 'Government Administration' 'Chemicals'
 'Chemical Manufacturing' 'Information Technology and Services'
 'Mental Health Care' 'Restaurants' 'Research Services' 'Automotive'
 'Management Consulting' 'Business Consulting and Services'
 'Civil Engineering' 'Textile Manufacturing'
 'Automation Machinery Manufacturing' 'Accounting' 'Legal Services'
 'Non-profit Organization Management' 'Wellness and Fitness Services'
 'Building Materials' 'Wholesale Building Materials' 'Computer Software'
 'Higher Education' 'Medical Device' 'Medical Equipment Manufacturing'
 'Outsourcing and Offshoring Consulting' 'Human Resources Services'
 'Renewable Energy Semiconductor Manufacturing' 'Retail Groceries'
 'Utilities' 'Performing Arts' 'Environmental Services'
 'Gambling Facilities and Casinos' 'Security and Investigations'
 'Individual and Family Services' 'E-Learning Providers'
 'Personal Care Product Manufacturing' 'Newspaper Publishing'
 'Facilities Services' 'Information Services' 'Advertising Services'
 'Biotechnology' 'Pharmaceuticals' 'Semiconductor Manufacturing'
 'International Trade and Development'
 'Industrial Machinery Manufacturing'
 'Venture Capital and Private Equity Principals' 'Computer Games'
 'Investment Banking' 'Primary and Secondary Education'
 'Food and Beverage Services' 'Packaging and Containers'
 'Packaging and Containers Manufacturing' 'Food and Beverages' 'Machinery'
 'Machinery Manufacturing' 'Architecture and Planning' 'Consumer Services'
 'Education Management' 'Human Resources' 'Gambling and Casinos'
 'Health, Wellness and Fitness' 'Electrical and Electronic Manufacturing'
 'Appliances, Electrical, and Electronics Manufacturing'
 'Marketing and Advertising' 'Computer and Network Security' 'Farming'
 'Beverage Manufacturing' 'Aviation and Aerospace Component Manufacturing'
 'Public Safety' 'Computers and Electronics Manufacturing'
 'Airlines and Aviation' 'Research' 'Museums, Historical Sites, and Zoos'
 'Paper and Forest Products' 'Paper and Forest Product Manufacturing'
 'Glass, Ceramics and Concrete'
 'Glass, Ceramics and Concrete Manufacturing' 'Internet'
 'Technology, Information and Internet' 'Broadcast Media'
 'Broadcast Media Production and Distribution' 'Medical Practices'
 'Outsourcing/Offshoring' 'Luxury Goods and Jewelry'
 'Retail Luxury Goods and Jewelry' 'Civic and Social Organizations'
 'Online Audio and Video Media' 'Renewables and Environment'
 'Defense and Space' 'Semiconductors' 'Events Services' 'Musicians'
 'Consumer Goods' 'Furniture' 'Aviation and Aerospace'
 'International Affairs' 'Transportation/Trucking/Railroad'
 'Wine and Spirits' 'Fundraising' 'Armed Forces'
 'Administration of Justice' 'Law Enforcement' 'Airlines/Aviation'
 'Transportation, Logistics, Supply Chain and Storage'
 'Dairy Product Manufacturing' 'Design Services'
 'Mechanical Or Industrial Engineering'
 'Public Relations and Communications Services'
 'Book and Periodical Publishing' 'Design' 'Judiciary'
 'Railroad Manufacture' 'Railroad Equipment Manufacturing'
 'Public Policy Offices' 'Cosmetics' 'Public Relations and Communications'
 'Artists and Writers' 'Executive Offices' 'Photography'
 'Industrial Automation' 'Oil and Gas' 'Media Production' 'Oil and Energy'
 'Publishing' 'Civic and Social Organization' 'Mining and Metals'
 'Wireless' 'Plastics' 'Museums and Institutions'
 'Leisure, Travel and Tourism' 'Business Supplies and Equipment'
 'Translation and Localization' 'Veterinary Services' 'Public Policy'
 'Online Media' 'Package/Freight Delivery' 'Consumer Electronics'
 'Executive Office' 'Sports' 'E-learning' 'Primary/Secondary Education'
 'Music' 'Computer Hardware' 'Logistics and Supply Chain']

In [64]:
import pandas as pd

# Assuming your dataframe is named df
merged_df['industry'].replace({'Hospital and Health Care': 'Hospitals and Health Care'}, inplace=True)

# Print or view the unique industries after replacement
unique_industries = merged_df['industry'].unique()
print(unique_industries)

['Financial Services' 'Motor Vehicle Manufacturing'
 'Staffing and Recruiting' 'Retail Office Equipment'
 'Food and Beverage Manufacturing' 'Wholesale' 'Hospitals and Health Care'
 'Travel Arrangements' 'Biotechnology Research' 'Entertainment'
 'Entertainment Providers' 'Food Production'
 'IT Services and IT Consulting' 'Retail' 'Telecommunications'
 'Truck Transportation' 'Defense and Space Manufacturing' 'Law Practice'
 'Manufacturing' 'Computer Hardware Manufacturing'
 'Furniture and Home Furnishings Manufacturing'
 'Retail Apparel and Fashion' 'Construction' 'Apparel and Fashion'
 'Hospitality' 'Software Development' 'Real Estate'
 'Non-profit Organizations' 'Banking' 'Insurance' 'Mining'
 'Education Administration Programs' 'Spectator Sports'
 'Pharmaceutical Manufacturing' 'Government Administration' 'Chemicals'
 'Chemical Manufacturing' 'Information Technology and Services'
 'Mental Health Care' 'Restaurants' 'Research Services' 'Automotive'
 'Management Consulting' 'Business Consulting and Services'
 'Civil Engineering' 'Textile Manufacturing'
 'Automation Machinery Manufacturing' 'Accounting' 'Legal Services'
 'Non-profit Organization Management' 'Wellness and Fitness Services'
 'Building Materials' 'Wholesale Building Materials' 'Computer Software'
 'Higher Education' 'Medical Device' 'Medical Equipment Manufacturing'
 'Outsourcing and Offshoring Consulting' 'Human Resources Services'
 'Renewable Energy Semiconductor Manufacturing' 'Retail Groceries'
 'Utilities' 'Performing Arts' 'Environmental Services'
 'Gambling Facilities and Casinos' 'Security and Investigations'
 'Individual and Family Services' 'E-Learning Providers'
 'Personal Care Product Manufacturing' 'Newspaper Publishing'
 'Facilities Services' 'Information Services' 'Advertising Services'
 'Biotechnology' 'Pharmaceuticals' 'Semiconductor Manufacturing'
 'International Trade and Development'
 'Industrial Machinery Manufacturing'
 'Venture Capital and Private Equity Principals' 'Computer Games'
 'Investment Banking' 'Primary and Secondary Education'
 'Food and Beverage Services' 'Packaging and Containers'
 'Packaging and Containers Manufacturing' 'Food and Beverages' 'Machinery'
 'Machinery Manufacturing' 'Architecture and Planning' 'Consumer Services'
 'Education Management' 'Human Resources' 'Gambling and Casinos'
 'Health, Wellness and Fitness' 'Electrical and Electronic Manufacturing'
 'Appliances, Electrical, and Electronics Manufacturing'
 'Marketing and Advertising' 'Computer and Network Security' 'Farming'
 'Beverage Manufacturing' 'Aviation and Aerospace Component Manufacturing'
 'Public Safety' 'Computers and Electronics Manufacturing'
 'Airlines and Aviation' 'Research' 'Museums, Historical Sites, and Zoos'
 'Paper and Forest Products' 'Paper and Forest Product Manufacturing'
 'Glass, Ceramics and Concrete'
 'Glass, Ceramics and Concrete Manufacturing' 'Internet'
 'Technology, Information and Internet' 'Broadcast Media'
 'Broadcast Media Production and Distribution' 'Medical Practices'
 'Outsourcing/Offshoring' 'Luxury Goods and Jewelry'
 'Retail Luxury Goods and Jewelry' 'Civic and Social Organizations'
 'Online Audio and Video Media' 'Renewables and Environment'
 'Defense and Space' 'Semiconductors' 'Events Services' 'Musicians'
 'Consumer Goods' 'Furniture' 'Aviation and Aerospace'
 'International Affairs' 'Transportation/Trucking/Railroad'
 'Wine and Spirits' 'Fundraising' 'Armed Forces'
 'Administration of Justice' 'Law Enforcement' 'Airlines/Aviation'
 'Transportation, Logistics, Supply Chain and Storage'
 'Dairy Product Manufacturing' 'Design Services'
 'Mechanical Or Industrial Engineering'
 'Public Relations and Communications Services'
 'Book and Periodical Publishing' 'Design' 'Judiciary'
 'Railroad Manufacture' 'Railroad Equipment Manufacturing'
 'Public Policy Offices' 'Cosmetics' 'Public Relations and Communications'
 'Artists and Writers' 'Executive Offices' 'Photography'
 'Industrial Automation' 'Oil and Gas' 'Media Production' 'Oil and Energy'
 'Publishing' 'Civic and Social Organization' 'Mining and Metals'
 'Wireless' 'Plastics' 'Museums and Institutions'
 'Leisure, Travel and Tourism' 'Business Supplies and Equipment'
 'Translation and Localization' 'Veterinary Services' 'Public Policy'
 'Online Media' 'Package/Freight Delivery' 'Consumer Electronics'
 'Executive Office' 'Sports' 'E-learning' 'Primary/Secondary Education'
 'Music' 'Computer Hardware' 'Logistics and Supply Chain']

In [66]:
merged_df.shape

(19435, 21)

In [65]:
# Exporting dataframe 
merged_df.to_csv('jobs_posts_clean_withInd.csv', index=False)